// DRUK CYR
@font-face {
  font-family: "Druk Text Wide Cyr";
  src: url("fonts/Druk/DrukTextWideCyr-Medium.eot");
  src: url("fonts/Druk/DrukTextWideCyr-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/Druk/DrukTextWideCyr-Medium.woff2") format("woff2"),
    url("fonts/Druk/DrukTextWideCyr-Medium.woff") format("woff"),
    url("fonts/Druk/DrukTextWideCyr-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Druk Wide Cyr";
  src: url("fonts/Druk/DrukWideCyr-Medium.eot");
  src: url("fonts/Druk/DrukWideCyr-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/Druk/DrukWideCyr-Medium.woff2") format("woff2"),
    url("fonts/Druk/DrukWideCyr-Medium.woff") format("woff"),
    url("fonts/Druk/DrukWideCyr-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

// MONTSERRAT

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat/Montserrat-Bold.eot");
  //src: local("Montserrat Bold"), local("Montserrat-Bold"),
  src:url("fonts/Montserrat/Montserrat-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"),
    url("fonts/Montserrat/Montserrat-Bold.woff") format("woff"),
    url("fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat/Montserrat-Medium.eot");
  //src: local("Montserrat Medium"), local("Montserrat-Medium"),
  src:url("fonts/Montserrat/Montserrat-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/Montserrat/Montserrat-Medium.woff2") format("woff2"),
    url("fonts/Montserrat/Montserrat-Medium.woff") format("woff"),
    url("fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
